.formAlter {
    margin-top: 40px;
}

.inputForm {
    background-color: #121B24;
    width: 77%;
    height: 45px;
    border: none;
    outline: none;
    margin: 5px 10% 0 10%;
    color: #FFFFFF;
    padding-left: 4%;
}

.labelForm {
    margin-left: 10%;
    font-family: 'Inter', sans-serif;
    margin-top: 40px;
    font-size: 13px;
    font-weight: 700;
    color: #121B24;
}

.bigButtonAlter {
    background-color: #D73947;
    border: #121B24 solid 4px;
    width: 79.6%;
    height: 50px;
    margin: 15px 10.2% 30px 10.2%;
    font-family: 'Koulen', sans-serif;
    font-size: 28px;
    font-weight: 550;
    padding-bottom: 45px;
    color: #121B24;
    transition: 0.5s;
    cursor: pointer;
}
  
.bigButtonAlter:hover {
    background-color: #121B24;
    color: #D73947;
    border: #121b24 solid 4px;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .formAlter {
      width: 90%;
      margin: auto;
    }
  
    .inputForm {
      width: 90%;
      margin: 10px auto;
      font-size: 14px;
    }
  
    .bigButtonAlter {
      width: 90%;
      height: 50px;
      font-size: 22px;
    }
  }
  